* {
	box-sizing: border-box;
	font-family: 'M PLUS Rounded 1c', sans-serif;
}

ul,
li {
	margin: 0;
	padding: 0;
}

.decorated {
	font-family: 'M PLUS Rounded 1c', sans-serif;
	font-weight: 500;
	font-size: 0.9rem;
	color: #5d6063;
	overflow: hidden;
	text-align: center;
}

.decorated > span {
	position: relative;
	display: inline-block;
}

.decorated > span:before,
.decorated > span:after {
	content: '';
	position: absolute;
	top: 50%;
	border-bottom: 1px solid #5d6063;
	width: 450px; /* half of limiter */
	margin: 0 20px;
}
.decorated > span:before {
	right: 100%;
}
.decorated > span:after {
	left: 100%;
}

.main-page {
	margin-top: 100px;
}

.items-grid {
	width: 960px;
	margin: 0 auto;
	margin-top: 60px;
}

.items-grid ul {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 60px;
	list-style: none;
}

.items-grid ul li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.items-grid ul li img {
	width: 215px;
	opacity: 0.8;
	filter: grayscale(100%);
	transition: 0.3s;
	border-radius: 8px;
	margin-bottom: 10px;
}

.items-grid ul li img:hover {
	opacity: 1;
	filter: grayscale(0%);
}

.items-grid ul li p,
.items-grid ul li a {
	font-family: 'Taviraj', serif;
	font-weight: 300;
	color: #5d6063;
	font-size: 1rem;
	line-height: 1.1rem;
	line-height: 1.6rem;
	margin: 0;
}

.items-grid ul li a {
	color: #5995da;
}
