@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 992px) {
  ul.navbar-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
}

@media (min-width: 1200px) {
}
